.nav-frame-1{
    width: 100%;
}
.logo{
    padding-right: 78px;
    height: 50px;
}
.inner-nav-1{
    overflow: hidden;
    height: 50px; 
    background-color: white;
    border-radius: 41px;
}
.sub-nav{
    display: none;
    background-color: white;
    padding: 10px 40px;
    justify-content: space-between;
}
.head-sec-1{
    border-right: 1px solid rgba(15, 81, 118, 0.1) ;
    width: 50%;
}
.head-sec-2{
    width: 50%;
    padding: 10px;
    text-align: right;
}
.head-sec-2 img{

    padding-right: 18px;
}
.main-nav img{
    padding-right: 11px;
}
.inner-nav-2{
    padding-left: 16.8%;
    justify-content: flex-end;
}
.cart{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}
.cart img{
    position: relative;
    left: 5px;
}
.cart sup{
    background-color: #0F5176;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    width: 10px;
    position: relative;
    bottom: 16px;
    left: 5px;
}
.connect{
    background-color: #0F5176;
    border-radius: 45.33px;
    height: 50px;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    margin-left: 25px;
    font-size: 19.56px;
}

.nav-frame-2{
    width: 100%;
    height: 100%;
}

.slider-bar{
    max-width: 730px;
    width: 100%;
}
.cover{
    position: relative;
    width: 90%;
}
.scroll-img{
    width: 100%;
    height: auto;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}
.cover::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 70px;
    background-image: linear-gradient(270deg, rgba(193, 233, 255, 0) 0%, #C1E9FF 100%);
}
.cover::after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 415px;
    background-image: linear-gradient(90deg, rgb(183 224 246 / 28%) 0%, #C1E9FF 100%);
}
.cover ::-webkit-scrollbar{
    display: none;

}
.arrow-1{
    padding: 13px 12px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 28px;
    cursor: pointer;
    z-index: 2;
}
.arrow-2{
    position: relative;
    right: 70px;
    padding: 13px 12px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    z-index: 1;

}
/* .arrow-2::after{
    content: "\f2b9";
    font-family: Material Icons;

} */
/* .arr-l,.arr-r{
    height: 14px;
    width: 16px;
} */
.search-bar{
    padding-left: 41px;
}
.search{
    background-color: white;
    border-radius: 12px;
    white-space: nowrap;

}
.search img{
    margin: 0 15px;
    position: relative;
    top: 5px;
}
.search input{
    border: none;
    width: 70%;
    padding: 13.5px 0;
    padding-left: 16px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-weight: bold;
    color: #0F5176;
    font-size: 20px;
    opacity: 50%;
}
.filter{
    padding: 0 19.5px;
    margin-left: 15px;
    background-color: white;
    border-radius: 110px;
    text-decoration: none;
    color: #0F5176;
    font-size: 20px;
}
.filter img{
    height: 19px;
    width: 19px;
    margin-left: 15px;
}

.img-gallary{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    max-width: 100%;
}
.img-gallary-scroll{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
.img-gallary>img{
    max-width: 100%;
}
.pd-7:first-child{
    padding-left: 0;
}
.pd-7:last-child{
    padding-right: 0;
}

.cover-one{
    position: relative;
    width: 100%;
}
.scroll-image{
    width: 100%;
    height: auto;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}
.label-1,.label-2,.label-3,.label-4,.label-5{
    position: absolute;
    background-color: #FFE8D2;
    color: #DF4300;
    font-size: 16px;
    top: 137px;
    white-space: nowrap;
    /* width: 32.3%; */
    /* text-align: center; */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.label-1{
    padding: 7px 20.5px ;
}
.label-2{
    padding: 7px 48px;
}
.label-3{
    padding: 7px 26.5px;
}
.label-4{
    padding:  7px 7px;
}
.label-5{
    width: 269px;
    padding: 7px 20.5px ;

}
.cover-one::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, #DFF1FA 0%, rgba(223, 241, 250, 0) 100%);
}
.cover-one::after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(270deg, #DFF1FA 0%, rgba(223, 241, 250, 0) 100%);
}
.cover-one ::-webkit-scrollbar{
    display: none;

}
.fa-angle-left{
    position: absolute;
    z-index: 2;
    padding: 15px 19px;
    color: #0F5176;
    left: 74px;
    background-color: white;
    border-radius: 50%;
}
.fa-angle-right{
    position: absolute;
    z-index: 2;
    padding: 15px 19px;
    color: #0F5176;
    right: 74px;
    background-color: white;
    border-radius: 50%;
}

.footer-content-one{
    width: 20%;
    padding-right: 10px;
}
.footer-content-one p{
    font-size: 25.7px;
    color: #0F5176;
    font-weight: bold;
}
.footer-content-two{
    width: 20%;
    padding-right: 10px;
}
.footer-content-two p{
    font-size: 18px;
    color: #0F5176;
    font-weight: 400;
    line-height: 27px;
}
.footer-content-three{
    width: 60%;
    padding-right: 10px;
}
.footer-content-three p{
    font-size: 18px;
    color: #0F5176; 
    font-weight: 400;
    line-height: 27px;
}
.fa-icon{
    padding-left: 20.7px;
}
.fa-icon img{
  height: 39px;
}


/* drop-down css */

.dropbtn {
    background-color: white;
    color: #0F5176;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid  #F4F4F4;
    border-top-left-radius: 15px ;
   
}
.dropdown img{
    padding: 8px 9px;
    border-top-left-radius: 15px ;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

.dropdown {
    display: none;
    padding-right: 11px;
    position: relative;
    /* display: inline-block; */
    background-color: white;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 199px;
    padding-right: 11px;
    padding-bottom: 16px;
    overflow: auto;
    box-shadow: 0px 2px 30px -10px rgba(15, 81, 118, 0.3);
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .dropdown-content :last-child{
      border-bottom: none;
  }
  
  .dropdown-content a {
      font-size: 16px;
    color: #0F5176;
    text-decoration: none;
    border-bottom: 2px solid  #F4F4F4;
    /* display: block; */
  }
  
  /* .dropdown a:hover {background-color: #ddd;} */
  
  .show {display: block;}


  .profile{
    display: none;
    padding: 12px 13px;
    background: #0F5176;
    border-radius: 50%;
  }